{% extends "base.html"%}
{% block home %}
<!-- featued box -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12 box1">
            One of three columns
        </div>

        <div class="col-md-3 col-xs-6">
            <div class="row box2">1</div>
            <div class="row box2">2</div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="row box2">3</div>
            <div class="row box2">4</div>
        </div>
    </div>
</div>
<!-- Main Blog -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <!-- Section: Blog  -->
            <section class="my-5">
                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <!-- Featured image -->
                        <div class="">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">
                            <strong>Title of the new article</strong>
                        </h3>
                        <p class="dark-grey-text">
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque
                            nihil impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor
                            repellendus et aut officiis debitis cum soluta nobis est
                            eligendi placeat facere aut rerum.
                        </p>
                        <p>
                            by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018
                            <a class="btn btn-primary btn-md">Read more</a>
                        </p>
                    </div>
                </div>
                <hr class="my-5" />

                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <!-- Featured image -->
                        <div class="">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">
                            <strong>Title of the new article</strong>
                        </h3>
                        <p class="dark-grey-text">
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque
                            nihil impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor
                            repellendus et aut officiis debitis cum soluta nobis est
                            eligendi placeat facere aut rerum.
                        </p>
                        <p>
                            by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018
                            <a class="btn btn-primary btn-md">Read more</a>
                        </p>
                    </div>
                </div>
                <hr class="my-5" />

                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <!-- Featured image -->
                        <div class="">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">
                            <strong>Title of the new article</strong>
                        </h3>
                        <p class="dark-grey-text">
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque
                            nihil impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor
                            repellendus et aut officiis debitis cum soluta nobis est
                            eligendi placeat facere aut rerum.
                        </p>
                        <p>
                            by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018
                            <a class="btn btn-primary btn-md">Read more</a>
                        </p>
                    </div>
                </div>
                <hr class="my-5" />

                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <!-- Featured image -->
                        <div class="">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">
                            <strong>Title of the new article</strong>
                        </h3>
                        <p class="dark-grey-text">
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque
                            nihil impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor
                            repellendus et aut officiis debitis cum soluta nobis est
                            eligendi placeat facere aut rerum.
                        </p>
                        <p>
                            by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018
                            <a class="btn btn-primary btn-md">Read more</a>
                        </p>
                    </div>
                </div>
                <hr class="my-5" />

                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <!-- Featured image -->
                        <div class="">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">
                            <strong>Title of the new article</strong>
                        </h3>
                        <p class="dark-grey-text">
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque
                            nihil impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor
                            repellendus et aut officiis debitis cum soluta nobis est
                            eligendi placeat facere aut rerum.
                        </p>
                        <p>
                            by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018
                            <a class="btn btn-primary btn-md">Read more</a>
                        </p>
                    </div>
                </div>
                <hr class="my-5" />

                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <!-- Featured image -->
                        <div class="">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">
                            <strong>Title of the new article</strong>
                        </h3>
                        <p class="dark-grey-text">
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque
                            nihil impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor
                            repellendus et aut officiis debitis cum soluta nobis est
                            eligendi placeat facere aut rerum.
                        </p>
                        <p>
                            by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018
                            <a class="btn btn-primary btn-md">Read more</a>
                        </p>
                    </div>
                </div>
                <hr class="my-5" />

                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <!-- Featured image -->
                        <div class="">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <h3 class="font-weight-bold mb-3">
                            <strong>Title of the new article</strong>
                        </h3>
                        <p class="dark-grey-text">
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque
                            nihil impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor
                            repellendus et aut officiis debitis cum soluta nobis est
                            eligendi placeat facere aut rerum.
                        </p>
                        <p>
                            by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018
                            <a class="btn btn-primary btn-md">Read more</a>
                        </p>
                    </div>
                </div>


            </section>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="ads box2"></div>
            <div class="box3"></div>
            <div class="box3"></div>
        </div>
    </div>
</div>

<div class="container">
    <hr>
</div>

{%endblock home%}