{% extends "base.html"%}
{% block home %}

  <!-- featued box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-12 box1">
        One of three columns
      </div>

      <div class="col-md-3 col-xs-6 ">
        <div class="row box2">1</div>
        <div class="row box2">2</div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="row box2">
          
        </div>
        <div class="row box2">4</div>
      </div>
    </div>
  </div>
  <!-- Main Blog -->
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="container">
          <div class="row row-cols-2">
            <div class="col box2">Column1</div>
            <div class="col box2">Column2</div>
            <div class="col box2">Column3</div>
            <div class="col box2">Column4</div>
            <div class="col box2">Column5</div>
            <div class="col box2">Column6</div>
            <div class="col box2">Column7</div>
            <div class="col box2">Column8</div>
            <div class="col box2">Column9</div>
            <div class="col box2">Column10</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="ads box2"></div>
        <div class="box3"></div>
        <div class="box3"></div>
      </div>
    </div>
  </div>

{% endblock home%}


  

